
header {
    .hire-me {
        background: linear-gradient(to right, #8750F7, #2A1454);
        color: white;
        font-weight: 700;
        border-radius: 30px;
        padding: 7px 30px;
    }
    .nav-item.active .nav-link {
        color: #f39c12; /* Aktif olduğunda renk değişir */
      }
}

body {
    background-image: url("../img/background.svg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-one {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hello {
        position: absolute;
        left: 550px;
        top: 50px;
        width: 422px;
        height: 449px;
    }

    .myphoto {
        transition: 0.5s transform;
        &:hover {
            transform: rotate(-5deg);
        }
    }
@media (max-width:980px) {
    .hello{
        display: none;
    }
}


    .frontend {
        background: linear-gradient(to right, #8750F7, #ffffff);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }

    .download-cv {
        border: 1px solid #8750F7;
        border-radius: 50px;
        padding: 10px 35px;
        color: #8750F7;
    }

    .icons {
        svg {
            width: 16px;
            height: 16px;
            color: #8750F7;
            border: 1px solid #8750F7;
            border-radius: 50%;
            padding: 10px;
            box-sizing: content-box;
        }
    }

    .recent-works {
        background: linear-gradient(to right, #8750F7, #ffffff);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }

    .project {
        background-color: #140C1C;
        width: 100%;
        height: 510px;
        border-radius: 10px;
        padding: 20px;
    }

    .experience {
        background: linear-gradient(to right, #8750F7, #ffffff);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    } 
    .experience-card {
        .card {
            border-radius: 20px !important;
            transition: 1s background-color;
            &:hover {
                background-color: #8750F7;
                .date {
                    color: white;
                }
            }
        }
    }

    .card {
        background-color: #140C1C;

        .date {
            color: #8750F7;
            font-weight: 800;
        }

        .profession {
            color: #ffffff;
            font-weight: 700;
        }

        .company {
            font-weight: 400;
            color: #ffffff;
        }
    }

    .skills {
        background: linear-gradient(to right, #8750F7, #ffffff);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }

    .carousel-main {
        padding: 100px 0;
        overflow: hidden;

        .slider-item {
            width: 180px !important;
            height: 180px !important;
            border-radius: 40px;
            background-color: #140C1C;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }

        .slick-slide {
            width: 250px !important;
        }

        .slider-container {
            width: 100%;
        }
    }

    .contact {
        background-color: #140C1C;
        border-radius: 10px;

        .content {
            padding: 40px;

            .work {
                background: linear-gradient(to right, #8750F7, #ffffff);
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
                font-family: "Sora", sans-serif !important;
            }

            .input-contact {
                background-color: #000;
                padding: 7px 13px;
                border: 1px solid #22272c;
                border-radius: 8px;
                color: #757575 !important;
            }

            .message {
                background: linear-gradient(to right, #2A1454, #8750F7);
                color: white;
                font-weight: 700;
                border-radius: 30px;
                padding: 10px 30px;
            }
        }
    }
}


  @media (max-width: 575px) {
    * {
        overflow-x: hidden;
    } 
}
    